/* Estilo global */
body, html {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
}

/* Contenedor principal */
.share-container {
    position: relative;
    max-width: 500px; /* Limita el ancho máximo del contenedor */
    width: 90%; /* Ajusta el tamaño en pantallas pequeñas */
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
    outline: none;
}

.share-container:hover {
    transform: scale(1.03);
    opacity: 0.95;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); 
}

/* Imagen compartida */
.share-image {
    width: 100%;
    max-width: 500px; /* Asegura que la imagen no sea demasiado grande */
    height: auto; /* Mantiene las proporciones */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    animation: pulse 2s infinite;
    object-fit: cover; 
}

/* Efecto destello */
@keyframes pulse {
    0%, 100% {
        box-shadow: 0 4px 15px rgba(0, 123, 255, 0.5);
    }
    50% {
        box-shadow: 0 4px 25px rgba(0, 123, 255, 0.8);
    }
}

/* Indicador clic */
.click-indicator {
    position: absolute;
    top: 60%; /* Coloca el círculo a la mitad de la imagen */
    left: 10%; /* Ajusta para mover el círculo hacia la izquierda */
    transform: translateY(-50%); /* Centra el círculo verticalmente */
    width: 50px; /* Tamaño del círculo */
    height: 50px; /* Tamaño del círculo */
    background: rgba(0, 123, 255, 0.81);  /* Color de fondo */
    border: 2px solid #007BFF; /* Hace que el div sea redondo */
    border-radius: 50%;
    animation: click-bounce 1.5s infinite; /* Efecto de resplandor pulsante */
    pointer-events: none; /* Evita que interfiera con los clics */
    text-align: center;
    line-height: 50px; /* Centra el texto verticalmente dentro del círculo */
    font-size: 16px; /* Tamaño del texto */
    color: white; /* Color del texto */
    font-weight: bold; /* Negrita para el texto */

}

/* Animación de rebote */
@keyframes click-bounce {
    0%, 100% {
        transform: translateY(-50%) scale(1); /* Sin escalado */
    }
    50% {
        transform: translateY(-50%) scale(1.2); /* Escalado al 120% */
    }
}
